option_settings:
  aws:elasticbeanstalk:environment:proxy:nginx:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
  aws:elasticbeanstalk:managedactions:
    ManagedActionsEnabled: true
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
